* {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

input:focus, textarea:focus {
	outline: none;
}

.home-link {
	padding: 10px;
	text-decoration: none;
	color: tomato;
	border-radius: 5px;
}

.home-link:hover {
	text-decoration: none;
	background-color: tomato;
	color: #333333;
}

.social-media {
	padding: 10px;
	color: tomato;
	border-radius: 5px;
}

.social-media:hover {
	background-color: tomato;
	color: #333333;
}

header {
	padding: 10px 0;
	font-size: 2em;
	background: #333333;
	color: tomato;
}

h1 {
	padding: 100px 0;
	font-weight: 200;
	font-size: 7em;
	text-align: center;
}

.title {
	font-weight: 600;
}

.logo {
	padding: 0 10px 0 0;
	width: 35px;
	height: auto;
}

.nav li a {
	color: tomato;
	font-size: 0.6em;
}

.nav li a:hover {
	background-color: tomato;
	color: #333333;
}

.orange-text {
	color: tomato;
}

.main-search {
	padding: 15px;
	width: 75%;
	height: 2.5em;
	font-size: 2.2em;
	font-weight: 300;
	color: tomato;
	border: 3px solid tomato;
	border-radius: 20px;
}

.search {
	padding: 0 5px;
	color: tomato;
	font-size: 0.8em;
	font-weight: 300;
	border: 2px solid tomato;
	border-radius: 10px;
}

/********************************************
 * Footer Styles
 ********************************************/
footer {
	padding: 20px 0;
	background-color: #333333;
	color: tomato;
	font-size: 1.5em;
}

.align-right {
	text-align: right;
}

.copyright {
	font-size: 0.42em;
}

/***
 * Flexbox Sticky Footer
 * http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 ***/

/*corrects IE min-height bug*/
html {
	display: flex;
}

body {
	width: 100%;
}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	box-shadow: inset 2px 0 rgba(0, 0, 0, 0.1);
}

.sfooter-content {
	flex: 1 0 auto;

	background: url(../images/bg.jpg) no-repeat center center fixed;
	background-size: cover;
}